* { margin: 0;
    padding: 0; 
}

.about-container {
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.about-body-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 30px;
    width: 55%;
}

.about-body-right {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 45%;
}

.about-body-left h1 {
    color: var(--first-blue-color);
    font-size: 5.5vw;
    font-weight: 700;
    width: 95%;
}



.about-body-left p {
    color: var(--second-black-color);
    font-size: 1.5vw;      
    width: 70%;
}

.about-body-left button {
    border: none;
    background-color: var(--first-blue-color);
    color: whitesmoke;
    font-size: 2vw;  
    padding: 3% 6%;
    border-radius: 2vw;
    font-weight: 700;
}

.h1-custom {
    color: var(--second-blue-color)
}

.profile-image {
   height: 100%;
   width: 100%;
}

.hand-image {
    display: none;
}



@media only screen and (max-width: 1280px) {
    .about-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .profile-image {
        display: none;
    }

    .about-body-right {
       display: flex;
       justify-content: center;
       align-items: center;
       height: auto;
       width: auto;
    }

    .about-body-left {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .about-body-left h1 {
        color: var(--first-blue-color);
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    
    .about-body-left p {
        color: var(--second-black-color);
        font-size: 0.8rem;      
        margin: 40px 0;
        width: 100%;
        text-align: center;
    }
    
    .about-body-left button {
        border: none;
        background-color: var(--first-blue-color);
        color: whitesmoke;
        font-size: 1rem;  
        padding: 10px 30px;
        border-radius: 2vw;
        font-weight: 700;
        width: 100%;
    }

    .hand-image {
        display: block;
        height: 200px;
    }

    
}








