* { margin: 0;
    padding: 0; 
}

.about-container {
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.about-body-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 30px;
    width: 55%;
}

.about-body-right {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 45%;
}

.about-body-left h1 {
    color: var(--first-blue-color);
    font-size: 5.5rem;
    font-weight: 700;
    width: 95%;
}



.about-body-left p {
    color: var(--second-black-color);
    font-size: 2rem;      
    width: 70%;
}

.about-body-left button {
    border: none;
    background-color: var(--first-blue-color);
    color: whitesmoke;
    font-size: 2.5rem;  /* here 1.5rem */
    padding: 3% 6%;
    border-radius: 32px;
    font-weight: 700;
}

.h1-custom {
    color: var(--second-blue-color)
}

.profile-image {
   height: 100%;
   width: 100%;
}

@media only screen and (max-width: 3841px) and (min-width: 2561px) {
    .about-body-left button {
        font-size: 4.5rem;
    }

    .about-body-left p {
        font-size: 4rem;      
    }

    .about-body-left h1 {
        font-size: 11rem;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 1921px) {
    .about-body-left button {
        font-size: 3.5rem;
    }

    .about-body-left p {
        font-size: 3rem;      
    }

    .about-body-left h1 {
        font-size: 7rem;
    }
}


@media only screen and (max-width: 1920px) and (min-width: 1024px) {
    .about-body-left button {
        font-size: 2rem;
    }

    .about-body-left p {
        font-size: 1.5rem;      
    }

    .about-body-left h1 {
        font-size: 3rem;
    }
}


