html {
    --main-yellow-color: rgba(255, 255, 0, 1);
    --first-blue-color: #03045E;
    --second-blue-color: #00B4D8;
    --third-blue-color: #90E0EF;
    ---fourth-blue-color: #CAF0F8;
    --main-black-color: rgba(52, 50, 50, 1);
    --second-black-color: rgba(52,  50,  50, 0.5);
}
.header-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 30px
}

.logo-header {
    height: 50px;
    width: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    color: var(--main-black-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.nav-a {
    padding: 0 30px;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 50px;
    width: 50px;
    background: var(--second-blue-color);
    border-radius: 50%;
}