html {
    --main-yellow-color: rgba(255, 255, 0, 1);
    --first-blue-color: #03045E;
    --second-blue-color: #00B4D8;
    --third-blue-color: #90E0EF;
    ---fourth-blue-color: #CAF0F8;
    --main-black-color: rgba(52, 50, 50, 1);
    --second-black-color: rgba(52,  50,  50, 0.5);
}
.header-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 30px
}

.logo-header {
    height: 50px;
    width: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    color: var(--main-black-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.nav-a {
    padding: 0 30px;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 50px;
    width: 50px;
    background: var(--second-blue-color);
    border-radius: 50%;
}

/* Social Media Buttons and  Animations */

.wrapper {
    position: relative;
    left: -100px;
}

.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #151515;
    border-radius: 50%;
}

.btn {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: outline .25s;
}

.active .btn,
.btn:hover {
    outline: 5px solid #bb93fc;
    outline-offset: -4px;
}

.item {
    position: absolute;
    list-style: none;
    transition: transform .5s;
    transition-delay: var(--d);
}

.wrapper.active .item:nth-child(1) {
    transform: translateX(-65px);
}

.wrapper.active .item:nth-child(2) {
    transform: translateX(-130px);
}

.wrapper.active .item:nth-child(3) {
    transform: translateX(-195px);
}

.link:hover {
    color: #fff;
    transition: background-color .5s;
}

.ig:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
}

.tw:hover {
    background-color: #1DA1F2;
}

.sc:hover {
    background-color: #FFFC00;
    color: inherit;
}