html {
    --main-yellow-color: rgba(255, 255, 0, 1);
    --first-blue-color: #03045E;
    --second-blue-color: #00B4D8;
    --third-blue-color: #90E0EF;
    ---fourth-blue-color: #CAF0F8;
    --main-black-color: rgba(52, 50, 50, 1);
    --second-black-color: rgba(52,  50,  50, 0.5);
}

a {
    text-decoration: none;
    color: var(--main-black-color);
}
.header-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 30px
}

.logo-header {
    height: 50px;
    width: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    color: var(--main-black-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.nav-a {
    padding: 0 30px;
    font-size: 30px;
}



.circle {
    height: 50px;
    width: 50px;
    background: var(--first-blue-color);
    border-radius: 50%;
}

/* Social media buttons  */

.icons {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: var(--main-black-color);
    border-radius: 50%;
    outline: 2px solid var(--main-black-color);
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

@media only screen and (max-width: 1280px) {
    .nav-container {
        display: none;
        justify-content: space-between;
        color: var(--main-black-color);
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    .nav-a {
        padding: 0 30px;
        font-size: 30px;
    }
}

