@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
    background-color: whitesmoke;
    --main-yellow-color: rgba(255, 255, 0, 1);
    --first-blue-color: #03045E;
    --second-blue-color: #00B4D8;
    --third-blue-color: #90E0EF;
    ---fourth-blue-color: #CAF0F8;
    --main-black-color: rgba(52, 50, 50, 1);
    --second-black-color: rgba(52,  50,  50, 0.5);
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.header-container {
    border-bottom: solid 2px black;
    height: 10vh;
}

.footer-container {
    border-top: solid 2px black;
    height: 10vh;
}

.about-container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-body-left h1 {
    color: var(--first-blue-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 0px;
}

.about-body-left p {
    color: var(--second-black-color);
    line-height: 0px;
}

.about-body-left button {
    border: none;
    background-color: var(--first-blue-color);
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 20px 80px;
    border-radius: 32px;
}

.h1-custom {
    color: var(--second-blue-color)
}

.about-body-left, .about-body-right {
    width: 50%;
    height: 80vh; 
    border: solid brown 1px;    
}

.about-body-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.about-body-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 100%;
    width: 100%;
    background-color: var(--second-yellow-color);
    border-radius: 50% 0 50% 50%;
}


